In [1]:
data.index

NameError: name 'data' is not defined

In [13]:
import requests
api_url = "https://jsonplaceholder.typicode.com/todos/1"
response = requests.get(api_url)
l = response.raise_for_status()
response.json()

None

In [2]:
import pandas as pd
import sqlalchemy as sqla
db = sqla.create_engine("sqlite:///mydata.sqlite")
pd.read_sql("SELECT * FROM table_test", db)

OperationalError: (sqlite3.OperationalError) no such table: table_test
[SQL: SELECT * FROM table_test]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

# Pandas

In [80]:
import pandas as pd

## Series

In [7]:
# Create a series form a list 
l = [2,4,6,8]
s1 = pd.Series(l)
s1

0    2
1    4
2    6
3    8
dtype: int64

In [8]:
# create a series and assign an index of labels
i = ['a','b','c','d']
s2 = pd.Series(l,index=i)

In [9]:
s2

a    2
b    4
c    6
d    8
dtype: int64

In [10]:
s3 = pd.Series([1,3,5],index=['a','b','c'])

In [11]:
s3

a    1
b    3
c    5
dtype: int64

In [18]:
s4 = pd.Series([1,2,3,4],index=['a','a','a','a'])

In [19]:
s4

a    1
a    2
a    3
a    4
dtype: int64

In [81]:
# create a Series form a python dictionary
df = pd.DataFrame({'a':[1,2],'b':[3,4]})
df

   a  b
0  1  3
1  2  4

In [82]:
## add a column
df['c']=[5,6]

In [83]:
df

   a  b  c
0  1  3  5
1  2  4  6

In [84]:
# Retrieving a column of a DataFrame results in a Series
s = df['a'] # this is just a view of dataframe
print(s)
print(type(s))

0    1
1    2
Name: a, dtype: int64
<class 'pandas.core.series.Series'>

In [86]:
# Modifying a retrieved column will modify the original DataFrame.
s[1]=20 
s

0     1
1    20
Name: a, dtype: int64

In [87]:
df #df view is changed when the series value is changed

    a  b  c
0   1  3  5
1  20  4  6

In [88]:
s = pd.Series([2,4,6,8,10],index=['a','b','c','d','e'])
s

a     2
b     4
c     6
d     8
e    10
dtype: int64

In [90]:
# pandas has 2 attributes 
# 1 .loc[:] is for indexing with labels.
# 2 .iloc[:] is for indexing with interger position.

s.loc['c']

6

In [92]:
s.loc['b':'d'] # this is slicing with iloc , Here last element is included

b    4
c    6
d    8
dtype: int64

In [93]:
s.loc[['b','d']] #lists

b    4
d    8
dtype: int64

In [94]:
# selecting by oosition using .iloc[]
s.iloc[2]

6

In [95]:
s.iloc[[1,3]]

b    4
d    8
dtype: int64

In [96]:
s.iloc[0:3]#slicing with iloc , Here last element is excluded

a    2
b    4
c    6
dtype: int64